<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yewer.mybatisplustest.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="yewer.mybatisplustest.domain.Permission">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="permission" column="permission" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,permission
    </sql>
</mapper>
